.widget {
    display: flex;
   height: 100px;
    justify-content: space-between;
     flex: 1;
    padding: 10px;
    box-shadow: 10px 10px 5px 12px lightblue; 
    border-radius: 10px;
.left, .right{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.title{
    font-weight: bold;
    font-size: 14px;
    color: rgb(160,160,160);

}
.counter{
    font-size: 20px;
    font-weight: 300;
}

.link{
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}
}

